@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');

* {
  font-family: "Lato", "Courier New", Courier, monospace;
  font-weight: bold;
}

body {
  background: linear-gradient(#87ceeb, white) fixed;
}

input {
  cursor: pointer;
}

#results {
  margin-top: 10px;
  width: 50vw;
  border: 2px solid black;
}

#results div, #results h2 {
  margin-left: 5px;
  color: black;
}

#current-temperature {
  font-size: 5em;
  font-weight: bold;
}

#extremes {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-between;
}

.max-temp {
  color: red;
}